In [1]:
import findspark
findspark.init() # Important to use spark on jupyter

In [13]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

### Setting a spark session and context

In [3]:
sc = SparkContext(appName="DataFrame")
spark = SparkSession.builder\
        .master("local")\
        .appName("DataFrame")\
        .getOrCreate()

22/06/01 07:54:11 WARN Utils: Your hostname, kaique-Virtual resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
22/06/01 07:54:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.1.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/06/01 07:54:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

### Basic to Create a dataframe

In [4]:
schema = "ID INT\
            ,Name STRING\
            ,Idade INT"

data = [(1,"Kaique",19)]
df = spark.createDataFrame(data,schema)

In [5]:
df.show()

+---+------+-----+
| ID|  Name|Idade|
+---+------+-----+
|  1|Kaique|   19|
+---+------+-----+

### Doing some calcs

In [8]:
schema_vendas = "ID INT,Item STRING,Qtd INT,Valor DOUBLE"
data_vendas = [(1,"Caneta",20,1.50),(2,"Lápis",50,1.0),(3,"Apontador",30,0.50)]
df_vendas = spark.createDataFrame(data_vendas,schema_vendas)

In [9]:
df_vendas.show()

+---+---------+---+-----+
| ID|     Item|Qtd|Valor|
+---+---------+---+-----+
|  1|   Caneta| 20|  1.5|
|  2|    Lápis| 50|  1.0|
|  3|Apontador| 30|  0.5|
+---+---------+---+-----+

In [16]:
df_vendas.select("Item",expr("Qtd * Valor").alias("Total Vendas")).show()

+---------+------------+
|     Item|Total Vendas|
+---------+------------+
|   Caneta|        30.0|
|    Lápis|        50.0|
|Apontador|        15.0|
+---------+------------+