In [8]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.sql import functions as Func

In [2]:
sc = SparkContext(appName="HandsOn")
spark = SparkSession.builder\
        .master("local")\
        .appName("HandsOn")\
        .getOrCreate()

22/06/06 11:16:51 WARN Utils: Your hostname, base resolves to a loopback address: 127.0.1.1; using 192.168.0.8 instead (on interface wlo1)
22/06/06 11:16:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/kiq/.local/lib/python3.10/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/06/06 11:16:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/06/06 11:16:52 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df_client = spark.read.format("parquet").load("/home/kiq/Stud/Spark/data/Atividades/Clientes.parquet")

In [4]:
df_client.show()

+---------+--------------------+------+------+--------+
|ClienteID|             Cliente|Estado|Genero|  Status|
+---------+--------------------+------+------+--------+
|        1|Adelina Buenaventura|    RJ|     M|  Silver|
|        2|        Adelino Gago|    RJ|     M|  Silver|
|        3|     Adolfo Patrício|    PE|     M|  Silver|
|        4|    Adriana Guedelha|    RO|     F|Platinum|
|        5|       Adélio Lisboa|    SE|     M|  Silver|
|        6|       Adérito Bahía|    MA|     M|  Silver|
|        7|       Aida Dorneles|    RN|     F|  Silver|
|        8|   Alarico Quinterno|    AC|     M|  Silver|
|        9|    Alberto Cezimbra|    AM|     M|  Silver|
|       10|    Alberto Monsanto|    RN|     M|    Gold|
|       11|       Albino Canela|    AC|     M|  Silver|
|       12|     Alceste Varanda|    RR|     F|  Silver|
|       13|  Alcides Carvalhais|    RO|     M|  Silver|
|       14|        Aldo Martins|    GO|     M|  Silver|
|       15|   Alexandra Tabares|    MG|     F|  Silver|
|       16|      Alfredo Cotrim|    SC|     M|  Silver|
|       17|     Almeno Figueira|    SC|     M|  Silver|
|       18|      Alvito Peralta|    AM|     M|  Silver|
|       19|     Amadeu Martinho|    RN|     M|  Silver|
|       20|      Amélia Estévez|    PE|     F|  Silver|
+---------+--------------------+------+------+--------+
only showing top 20 rows

In [7]:
df_client.select("Cliente","Estado","Status").show()

+--------------------+------+--------+
|             Cliente|Estado|  Status|
+--------------------+------+--------+
|Adelina Buenaventura|    RJ|  Silver|
|        Adelino Gago|    RJ|  Silver|
|     Adolfo Patrício|    PE|  Silver|
|    Adriana Guedelha|    RO|Platinum|
|       Adélio Lisboa|    SE|  Silver|
|       Adérito Bahía|    MA|  Silver|
|       Aida Dorneles|    RN|  Silver|
|   Alarico Quinterno|    AC|  Silver|
|    Alberto Cezimbra|    AM|  Silver|
|    Alberto Monsanto|    RN|    Gold|
|       Albino Canela|    AC|  Silver|
|     Alceste Varanda|    RR|  Silver|
|  Alcides Carvalhais|    RO|  Silver|
|        Aldo Martins|    GO|  Silver|
|   Alexandra Tabares|    MG|  Silver|
|      Alfredo Cotrim|    SC|  Silver|
|     Almeno Figueira|    SC|  Silver|
|      Alvito Peralta|    AM|  Silver|
|     Amadeu Martinho|    RN|  Silver|
|      Amélia Estévez|    PE|  Silver|
+--------------------+------+--------+
only showing top 20 rows

In [10]:
df_client.filter((Func.col("Status") == "Platinum") | (Func.col("Status") == "Gold")).show()

+---------+-------------------+------+------+--------+
|ClienteID|            Cliente|Estado|Genero|  Status|
+---------+-------------------+------+------+--------+
|        4|   Adriana Guedelha|    RO|     F|Platinum|
|       10|   Alberto Monsanto|    RN|     M|    Gold|
|       28|      Anna Carvajal|    RS|     F|    Gold|
|       49|      Bento Quintão|    SP|     M|    Gold|
|       68|      Carminda Dias|    AM|     F|    Gold|
|       83|      Cláudio Jorge|    TO|     M|    Gold|
|      121|    Dionísio Saltão|    PR|     M|    Gold|
|      166|   Firmino Meireles|    AM|     M|    Gold|
|      170|      Flor Vilanova|    CE|     M|Platinum|
|      220|Honorina Villaverde|    PE|     F|    Gold|
|      230|    Ibijara Botelho|    RR|     F|Platinum|
|      237|  Iracema Rodríguez|    BA|     F|    Gold|
|      247|         Joana Ataí|    GO|     F|Platinum|
+---------+-------------------+------+------+--------+

In [11]:
df_sale = spark.read.format("parquet").load("/home/kiq/Stud/Spark/data/Atividades/Vendas.parquet")

In [12]:
df_sale.show()

+--------+----------+---------+---------+--------+
|VendasID|VendedorID|ClienteID|     Data|   Total|
+--------+----------+---------+---------+--------+
|       1|         1|       91| 1/1/2019|  8053.6|
|       2|         6|      185| 1/1/2020|   150.4|
|       3|         7|       31| 2/1/2020|  6087.0|
|       4|         5|       31| 2/1/2019| 13828.6|
|       5|         5|       31| 3/1/2018|26096.66|
|       6|         5|       31| 4/1/2020| 18402.0|
|       7|         5|       31| 6/1/2019|  7524.2|
|       8|         5|      186| 6/1/2019| 12036.6|
|       9|         7|       91| 6/1/2020| 2804.75|
|      10|         2|      202| 6/1/2020|  8852.0|
|      11|         7|       58| 8/1/2019|16545.25|
|      12|         7|       58| 9/1/2018|11411.88|
|      13|         7|       58|10/1/2019| 15829.7|
|      14|         3|      249|12/1/2020| 6154.36|
|      15|         4|      249|12/1/2018| 3255.08|
|      16|         7|      192|13/1/2020| 2901.25|
|      17|         2|       79|13/1/2019| 15829.7|
|      18|        10|       79|14/1/2019|16996.36|
|      19|        10|      191|14/1/2019|   155.0|
|      20|         9|      218|15/1/2018|  131.75|
+--------+----------+---------+---------+--------+
only showing top 20 rows

In [21]:
client_by_sales = df_client.join(df_sale,on="ClienteID",how="inner")
client_by_sales.show()

+---------+-------------------+------+------+------+--------+----------+---------+--------+
|ClienteID|            Cliente|Estado|Genero|Status|VendasID|VendedorID|     Data|   Total|
+---------+-------------------+------+------+------+--------+----------+---------+--------+
|       91|     Cosme Zambujal|    BA|     M|Silver|       1|         1| 1/1/2019|  8053.6|
|      185|  Gertrudes Hidalgo|    PA|     F|Silver|       2|         6| 1/1/2020|   150.4|
|       31|   Antão Corte-Real|    ES|     M|Silver|       3|         7| 2/1/2020|  6087.0|
|       31|   Antão Corte-Real|    ES|     M|Silver|       4|         5| 2/1/2019| 13828.6|
|       31|   Antão Corte-Real|    ES|     M|Silver|       5|         5| 3/1/2018|26096.66|
|       31|   Antão Corte-Real|    ES|     M|Silver|       6|         5| 4/1/2020| 18402.0|
|       31|   Antão Corte-Real|    ES|     M|Silver|       7|         5| 6/1/2019|  7524.2|
|      186|  Gertrudes Infante|    RS|     F|Silver|       8|         5| 6/1/2019| 12036.6|
|       91|     Cosme Zambujal|    BA|     M|Silver|       9|         7| 6/1/2020| 2804.75|
|      202| Greice Lameirinhas|    PI|     F|Silver|      10|         2| 6/1/2020|  8852.0|
|       58|     Brígida Gusmão|    DF|     F|Silver|      11|         7| 8/1/2019|16545.25|
|       58|     Brígida Gusmão|    DF|     F|Silver|      12|         7| 9/1/2018|11411.88|
|       58|     Brígida Gusmão|    DF|     F|Silver|      13|         7|10/1/2019| 15829.7|
|      249|     Joaquim Mieiro|    TO|     M|Silver|      14|         3|12/1/2020| 6154.36|
|      249|     Joaquim Mieiro|    TO|     M|Silver|      15|         4|12/1/2018| 3255.08|
|      192|    Gisela Candeias|    SC|     F|Silver|      16|         7|13/1/2020| 2901.25|
|       79|      Cidália Miera|    SE|     F|Silver|      17|         2|13/1/2019| 15829.7|
|       79|      Cidália Miera|    SE|     F|Silver|      18|        10|14/1/2019|16996.36|
|      191|       Gisela Bahia|    SP|     F|Silver|      19|        10|14/1/2019|   155.0|
|      218|Hermígio Villaverde|    MA|     M|Silver|      20|         9|15/1/2018|  131.75|
+---------+-------------------+------+------+------+--------+----------+---------+--------+
only showing top 20 rows

In [26]:
client_by_sales.schema

StructType(List(StructField(ClienteID,LongType,true),StructField(Cliente,StringType,true),StructField(Estado,StringType,true),StructField(Genero,StringType,true),StructField(Status,StringType,true),StructField(VendasID,LongType,true),StructField(VendedorID,LongType,true),StructField(Data,StringType,true),StructField(Total,DoubleType,true)))

In [31]:
client_by_sales.groupBy("Status").sum("Total").show()

+--------+------------------+
|  Status|        sum(Total)|
+--------+------------------+
|Platinum|          12584.68|
|  Silver|        3014291.36|
|    Gold|27286.690000000002|
+--------+------------------+